.Buscar {
    max-width: 100%;
    height: auto;
    
    background-image: url("../img/backgroundHome.jpg");
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        padding: 50px;
        margin-bottom: 50px;
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 6px 7px 12px rgba(39, 61, 255, 0);
        box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 6px 7px 12px rgba(39, 61, 255, 0);
        opacity: 0.8;

        .title {
            color: white;
            font-weight: bold;
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 10px;
        border-radius: 15px;
        width: 1200px;
        
        .info{
            
            border-radius: 15px;
            flex: 0 1 70%;
            padding: 40px;
            color: white;
            h4{
                font-size: 3rem;
                font-weight: 500;
                background-color:#1B5A74;
                border-radius: 20px;
                text-align: center;
                margin-bottom: 20px;
            }

            .bton{
                display: flex;
                align-items: center;
                border-radius: 20px;

            }
            .input{
                color: white;
                font-weight: 600;
            }
            Button{
                background-color:#1B5A74;
                border-radius: 15px;
                width: 100%;
                text-align: center;


            }

            

        }
    }

}