.home{
    display: flex;
    .homeConteiner{

        flex: 6;
        .widgets,.charts{
            display: flex;
            padding: 20px;
            gap: 20px;
        }
        .charts{
            padding: 5px 20px  ;
        }
        .listContainer{
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
            padding: 20px;
            margin: 20px;
            .listTitle{
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
        }
        .row{
            display: flex;
            align-items:center;
            justify-content: center;
            gap: 20px;
            margin: 20px;
            margin-top: 20px;
            box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.25);

            .tabla_producto {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 14px;   text-align: left;    /*border-collapse: collapse;*/ }
            
            th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #3c92b7;
                border-top: 4px solid #1b5a74;    border-bottom: 2px solid #fff; color: rgb(255, 255, 255); }
            
            td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
                color: #669;    border-top: 1px solid transparent; }            
            }
    }
}