.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 100px;
    .left, .rigth{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-size: 14px;
            font-weight: bold;
            color: rgb(185, 185, 185);
        }
        .counter{
            font-size: 28px;
            font-weight: 300;
        }
        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }
        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }
        .icon{
            font-size: 18px;
            padding: 5px;
            background-color: lightblue;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}