.navbar{
    height: 50px;
    border-bottom: 0.5px solid white;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    background-color: #1B5A74;
    
    .wrapper{
        
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content:flex-end;
        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid white;
            padding: 3px;
        }

        .items{
            display: flex;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                margin-left: 20px;
                color: white;
            }
            
            .icon{
                margin-left: 10px;
                font-size: 20px;

            }

        }
    }
}